.pdf__button {
  color: var(--black-color);
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 5px;
  color: #000;

  cursor: pointer;
  font-size: 12px;
  font-weight: 700;
  padding: 0.5rem 1rem;

  transition: all 0.3s ease-in-out;

  &:hover {
    box-shadow: 0 0 5px #fef4f5;
    color: var(--secondary-color);
    cursor: pointer;
  }
  @media screen and (max-width: 1050px) {
    margin-right: 310px;
  }

  @media screen and (max-width: 768px) {
    margin-right: 110px;
  }

  @media screen and (max-width: 670px) {
    margin-right: 110px;
  }
}
